.sidebar {
    position: fixed;
    left: -350px;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease;
    z-index: 1000;
    border-radius: 10px;
    padding: 20px;
}

.sidebar.active {
    left: 0;
}

body.dark-theme .sidebar {
    background-color: rgba(7, 50, 88, 0.9);
    color: #f1f1f1;
}

body.light-theme .sidebar {
    background-color: rgba(243, 238, 238, 0.9);
    color: #656262;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 50px 0;
}

/* Button styling */
.sidebar button {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background-color: #7d7979;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.sidebar button:hover {
    background-color: #ffcc00;
    color: #333;
    transform: scale(1.05);
}

/* Close button */
.close-btn {
    font-size: 40px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    color: white;
}

.close-btn:hover {
    color: #ff0000;
}

body.light-theme .close-btn {
    color: #333;
}

body.light-theme .close-btn:hover {
    color: #ff0000;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    /* For tablets */
    .sidebar {
        width: 200px;
        left: -250px; /* Hidden by default */
    }

    .sidebar.active {
        left: 0;
    }

    .sidebar button {
        font-size: 18px;
        padding: 12px;
    }

    .close-btn {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    /* For mobile devices */
    .sidebar {
        width: 160px;
        left: -300px; /* Hidden by default */
    }

    .sidebar.active {
        left: 0;
    }

    .sidebar button {
        font-size: 16px;
        padding: 10px;
    }

    .close-btn {
        font-size: 25px;
    }
}
